/* RESEAT DU STYLE */
@charset "UTF-8";

/* reset simple  */
/* l'étoile signifie tout all */
/* tous les élements sont taillés de façon intuitive; ils conserveront la taille que nous leur donnons */
*{
    box-sizing: border-box;
}
/* on déclare toutes les balises */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* mes styles pour le premierSITE : Audrey Saulnier - Colombbus */

/* font-family: 'Anton', sans-serif;

font-family: 'Lemonada', cursive;

font-family: 'Oswald', sans-serif; */

body {
	background-image: url('../img/concrete-texture.png');
	font-family:'Oswald', sans-serif;
}

.clear {
	clear: both;
}

/* STYLE POUR LES TITRES */
h1 {
	font-size: 40px;
	color: #2980b9;
	text-align: center;
	letter-spacing: 1px;
	font-family:'Anton', sans-serif;
}

h2 {
	font-size: 35px;
	color: #2c3e50;
	padding: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaa;
}

h2 i {
	color: #89c;
	font-size: 150%;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}
h4 {
    text-align: center;
    margin-top: 30px;
}

strong {
	font-weight: bold;
}
/* A COMPLETER */

/* style pour header */
header {
	height: 175px;
	background: #2c3e50;
}

#logo {
	float: left;
	width: 25%;
	background: #2c3e50;
	padding: 15px;
	text-align: center;
}

#slogan {
	float: left;
	width: 50%;
	background: #2c3e50;
	padding-top: 50px;
}

/* #social {
	float: left;
	width: 25%;
} */

/* les styles pour facebook et insta */
#social i {
	background: #2c3e50;
	font-size: 30px;
	text-align: right;
	padding: 15px 30px 0 0;
}

header a {
	text-decoration: none;
	color: #10828c;
}

/* fin de header */

/* nav navigation */

nav {
	background: #25bac5;
	height: 70px;
	border-bottom: 8px solid #267097;
	text-align: center;
	padding: 15px;
}

nav a {
	background: #4098d3;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0;
	border: 2px solid #fff;
	color: #2c3e50;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	/* contrôle la durée en secondes ou en milli-secondes de la transition avec le pseudo class .hover */
	transition: 0.5s; /*transition sur le a marche avec le :hover */
}

nav a:hover {
	color: #fff;
	background: #a6d6c3;
}

.active {
	color: orangered;
	background: #a6d6c3;
}

/* les zones principales de la page et du site */

main {
	background: rgba(178, 178, 178, 0.178);
	width: 1080px;
	margin: 0 auto;
}

aside {
	/* margin: 10px 0 0 15px; */
	height: 250px;
	background: #a6d6c3;
	width: 20%; 
	float: left;
}

#accueil {
	float: left;
	width: 75%;
	/* padding: 10px; */
}

section {
	margin-top: 10px;
	padding: 20px;
}

footer {
	height: 30px;
	background: #2980b9;
	margin-top: 10px;
}

/* fin des zones principales */

/* le bouton pour aller en haut de page */

button {
	font-size: 350%;
	background: transparent;
	border: none;
	color: #2c3e50;
	/* la position du bouton */
	position: fixed;
	bottom: 40px;
	right: 20px;
}

button :hover {
	box-shadow: 0 0 0 3px yellow;
	border-radius: 50%;
	
}

/* style de la page texte */
blockquote {
	font-family: 'Lemonada', cursive;
}

h2 i {
	color: #2a88ca;
	font-size: 120%;
}

blockquote i {
	font-size: 350%;
	color: #6acafc;	
}

blockquote i, blockquote p {
	vertical-align: middle;
}

/* debit page des images */

.imageFond {
	background: url(../img/fond.jpg) no-repeat;
	background-size: cover;
}

.imageFond p {
	/* l'image apparait car le paragraphe a une marge extérieure très grande */
	width: 75%;
	margin: 200px auto 250px auto;
	padding: 20px;
	/* rgba a alpha = transparence */
	background: rgba(255, 255, 255, 0.60);
	border-radius: 10px;
	font-size: 120%;
}

/* on cible uniquement une seule image avec son chemin relatif depuis la page HTML */

img[src="img/toureiffel.jpg"] {
	margin: auto;
	display: block;
	padding: 50px;
	background: #fff;
}

.auCentre {
	text-align: center;
}

.imageGolden {
	margin: 20px;
	border: 5px solid #fff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	/* transition durée qui fonctionnera sur le :hover et transform */
	transition: 1s;
}

/* effet d'animation */

.imageGolden:hover {
	transform: rotate(-7deg);
	border: 15px solid #fff;
}

.rotation360:hover {
	/* rotation: 2s; */
	transform: rotate(-360deg);
}

/* fin de page des images */

/* la page des zonings */

#zoning1 {
    background: #f7f3;
    width: 800px;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 2px white;
}

#zoning1 header {
	height: 70px;
	background-color: #f7f39a;
}

#zoning1 aside {
	height: 525px;
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
}

#zoning1 section {
	height: 525px;
	width: 80%;
	float: left;
	margin: 0;
	padding: 0;
}

/* ZONING 2 */

#zoning2 {
	background-color: turquoise;
	width: 800px;
	margin: auto;
	text-align: center;
	color: #fff;
}

#zoning2 header {
	background-color:rgba(165, 34, 165, 0.699);
	height: 70px;
}

#zoning2 aside {
	width: 20%;
	height: 500px;
	float: left;
	color: red;
}

#zoning2 .milieu {
	width: 60%;
	height: 500px;
	background-color: rgb(114, 250, 121);
	float: left;
	margin: 0;
}

/* zoning 3 */

#zoning3 {
	background-color: teal;
	width: 800px;
	height: 500px;
	text-align: center;
	margin: auto;
}

#zoning3 section {
	float: left;
	width: 50%;
	height: 400px;
	margin: 0;
	padding: 0;	
	color: #fff;
	background-color: thistle;
}

#zoning3 footer {
	margin: 0;
	width: 100%;
	height: 100px;
	background-color: darkorchid;
	color: white;
}

#zoning4 {
    width: 800px;
	background-color: #fff;
	text-align: center;
	margin: auto;
}

#zoning4 header {
    background-color:rgba(155, 241, 24, 0.466);
    width: 800px;
    height: 90px;
    /* margin: 0; */
}

#zoning4 nav {
    background-color: rgb(168, 223, 241);
    width: 800px;
    min-height: 20px;
	border: none;
}

#zoning4 nav p {
    margin: 0;
}

#zoning4 section {
    background-color:rgba(245, 214, 42, 0.747);
    height: 500px;
    margin: 20px;
}

#zoning4 footer {
    background-color: rgb(245, 186, 78);
    height: 50px;
}

#zoning5 {
	background-color: rgb(247, 183, 238);
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}

#zoning5  header{
	height: 100px;
	background-color: rgba(148, 71, 122, 0.466);
}

#zoning5 nav {
	height: 50px;
	background: rgb(189, 51, 120);
	border: none;
}

#zoning5 section {
	background: #2c3e50;
	margin: 20px;
	padding: 0;

}

#zoning5 .section .z1, .z2, .z3, .z4 {
	height: 250px;
	width: 50%;
	float: left;
	color: #fff;
}

#zoning5 .section .z1, .z2, .z3, .z4 p {
	line-height: 250px;
}

#zoning5 .z1, .z4 {
	background-color: rgb(69, 189, 189);
}


#zoning5 .section .z2, .z3 {
	background-color: rgb(187, 53, 169);
}

#zoning5 footer {
	height: 100px;
	background-color: rgba(61, 179, 110, 0.678);

}

#zoning6 {
	width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: pink;
    color: #fff;
}

#zoning6 header {
    height: 200px;
}

.haut1 {
    width: 25%;
    height: 100%;
    float: left;
    background-color: tomato;
}

.haut2 {
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(20, 125, 151);
}

.haut3 {
    width: 25%;
    height: 100%;
    float: left;
    background-color: turquoise;
}

/* .haut1, .haut3 {
    width: 25%;
    height: 100%;
    float: left;
}

.haut2 {
    width: 50%;
    height: 100%;
    float: left;
    background-color: teal;
}

.bg_tomato {
    background-color: tomato;
}

.bg_turqoise {
    background-color: turquoise;
} */

#zoning6 nav {
	height: 50px;
	border: none;
    background-color: lightblue;
}

#zoning6 nav a {
	border: none;
	background: none;
	padding: 0 20px;
	color: #fff;
}

#zoning6 p {
    margin: 0;
}

#zoning6 aside {
    width: 25%;
    height: 500px;
    float: left;
    background-color: thistle;
}

#zoning6 section {
	width: 75%;
	padding: 0;
	margin: 0;
    float: left;
    background-color: rgb(167, 119, 185);
}

#zoning6 .a {
    height: 200px;
    width: 50%;
    float: left;
    background-color: wheat;
}

#zoning6 .b {
    height: 200px;
    width: 50%;
    float: left;
    background-color: rgb(3, 2, 0);
}

#zoning6 .diaporama {
    height: 200px;
    background-color: red;
}

#zoning6 .c {
    width: 25%;
    height: 100px;
    float: left;
    background-color: lime;
}

#zoning6 .d {
    width: 25%;
    height: 100px;
    float: left;
    background-color: rgb(101, 138, 101);
}

#zoning6 .e {
    width: 25%;
    height: 100px;
    float: left;
    background-color: lime;
}

#zoning6 .f {
    width: 25%;
    height: 100px;
    float: left;
    background-color: rgb(146, 231, 146);
}

#zoning6 footer {
	height: 50px;
	margin: 0;
    background-color: #333;
}


/* a terminer */

/* page position */

.centre {
	height: 200px;
	width: 200px;
	background-color: #6acafc;
	margin: 0 auto;
}

/* position absolute */
.absolute {
	height: 100px;
	width: 100px;
	background: yellow;
	position: absolute;
	top: 24%;
	left: 10%;
}

/* position relative */
.relative {
	background: #2980b9;
	width: 400px;
	height: 400px;
	/* position relative à la section dans laquelle se trouve cette div relative à son parent */
	position: relative;
	left: 100px;
	bottom: 10px;
}

/* quand c'est relatif c'est par rapport au parent, quand c'est absolue c'est par rapport au document SAUF si l'élément est dans un parent relatif */

.relative div {
	/* contrairement à ma div.absolute, plus haut, cet élément à position obsolute étant placé dans une div à position relative au document, cette div est absolut par rapport à son parent et non par rapport au document*/
	background: #fff1a8;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0;
	top: 0;
}

/* pourcentage */
 .trente {
	width: 30%;
	padding: 20px;
	font-size: 22px;
	background-color: red;
	color: powderblue;
}

.cinquante {
	font-size: 22px;
	width: 50%;
	background: rgba(255, 123, 0, 0.753);
	padding: 20px;
	color: #fff;
}

.cent {
	font-size: 22px;
	width: 100%;
	background: pink;
	padding: 20px;
	color: green;
}

/* float */

.float {
	height: 170px;
	width: 170px;
	background-color: yellow;
	border: 2px solid darkred;
	margin: 10px;
	padding-top: 2px;;
	float: left;

	text-align: center;
	font-size: 22px;
}

.dernier {
	height: 170px;
	width: 170px;
	background-color: yellow;
	border: 2px solid darkred;
	padding-top: 2px;

	margin: 10px;

	text-align: center;
	font-size: 22px;
}

/* exemple sur le float */

.zone {
	height: 70px;
	background-color: #333;
}

.zone1, .zone2, .zone3, .zone4 {
	height: 250px;
	width: 25%;
	float: left;
}

.zone1 {
	background: rgb(20, 32, 199);
}

.zone2 {
	background: rgb(216, 50, 50);
}

.zone3 {
	background: rgb(197, 175, 175);
}

.zone4 {
	background: rgb(131, 170, 39);
}

/* la page des liens */

.ancre {
	text-align: center;
	padding: 100px;
}

.ancre a {
	margin: 8px;
	padding: 5px 10px;
	background: lightgray;
	box-shadow: 0px 0px 10px 3px rgb(38, 111, 206);
	color: #2c3e50;
	text-decoration: none;
	border-radius: 0 15px 15px 15px;
}

.ancre a:hover {
	box-shadow: none;
	transition-duration: 0.5s;
	text-shadow: 1px 5px 10px rgb(230, 34, 60);
}

/* le menu de l'id menu */

#menu nav {
	background: transparent;
	border: none;
}

#menu ul {
	list-style: none;
	text-align: center;
}

#menu ul li {
	display: inline-block;
}

#menu nav a {
	padding: 10px;
	color: grey;
	text-decoration: none;
	background: #ddd;
	transition: 1s ease-in;
}

#menu nav a:hover {
	color: #fff;
	background: #069;
}

/* Le menu avec les menus déroulants */

#menuDeroulant {
	height: 650px;
}

#menuDeroulant nav {
	width: 90%;
	background: transparent;
	border: none;
	margin: 0 auto;
}

#menuDeroulant nav ul li {
	list-style: none;
	width: 20%;
	float: left;
}

#menuDeroulant ul ul {
	display: none;
}

#menuDeroulant nav ul li ul li {
	border-top: 1px solid rgb(53, 13, 13);
	width: 100%;
}

#menuDeroulant nav li {
	background: #ccc;
}

#menuDeroulant nav li a {
	display: block;
	padding: 4px 0;
}

#menuDeroulant ul {
	text-align: center;
}

#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
	display: block;
}

/* La page des animations */

/* "camel case" ou casse différenciée */
.infoBulle {
	height: 250px;
	width: 500px;
	margin: auto;
	padding-top: 15px;
	background: #444444;
	box-shadow: 0 0 50px rgb(77, 71, 71) inset;
}

.infoBulle p {
	text-align: center;
	padding-top: 30px;
}

.infoBulle a {
	color: #ccc;
	text-decoration: none;
	border-radius: 3px;
	padding: 5px 15px;
	text-shadow: 0 -2px 0 black;
}

.infoBulle a:hover {
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.infoBulle a span {
	position: absolute;
	padding: 15px;
	margin-top: 23px;
	margin-left: -50px;
	background:  rgba(0, 0, 0, 0.4);
	border-radius: 13px;
	/* le contenu de span disparait grace à cette ligne */
	opacity: 0;
	color: #09c;
	transition: .25s;
	/* la  mise à l'échelle transform: scale(0) fait aussi disparaitre le contenu de span */
	transform: scale(0) rotateZ(-12deg);
}

.infoBulle a:hover span {

	opacity: 1;
	transform: scale(1) rotate(0);
}

.infoBulle a span::before {
	/* à quoi sert ce truc? */
	content: '';
	position: absolute;
	top: -3px;
	left: 10px;
	border-bottom: 6px solid rgba(235, 228, 228, 0.9);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

/* effets survols avec transitions et filtres de couleurs */

.imgEffets {
	width: 302px;
	height: 320px;
	margin: 70px auto;
}

.imgEffets li {
	width: 141px;
	/* on fabrique le carré qui contient une image (suite pour ce carré plus bas) */
	height: 150px;
	margin: 5px;
	float: left;
	list-style: none;
}

/* le 3eme li est clear both */
.imgEffets li:nth-child(3) {
	clear: both;
}

.imgEffets img {
	/* on controle la position des élements car on va jouer sur leur empilement */
	position: absolute;
	/* toutes les images sont empilées en bas */
	z-index: 1;
	/* on cale l'image dans un bloc carré de 150 pixels */
	height: 150px;

	box-shadow: 0 0 3px black;
	/* cubic bezier commence par 0 et termine par 1 et entre ces 2 valeurs nous  mettons nos propres valeurs */
	transition: 0.5s cubic-bezier(0,3,.4,1);
	/* pour la transition, il faut le :hover */
}

.imgEffets li:hover img {
	z-index: 2;

	transform: scale(1.5);

	box-shadow: 0 0 10px black;

}

.imgEffets:hover li:not(:hover) img {
	/* on passe les li qui ne sont pas survolés en niveaux de gris avec un filtre flou */
	filter: sepia(1) blur(1px);
}

/* la page multimédia */

.videoFond {
	padding-left: 0;
	padding-right: 0;
}

.videoFond video {
	width: 80%;
	position: absolute;
	z-index: 1;
}

.videoTexte {
	/* on décale l'élement par rapport à sa position initiale */
	position: relative;
	width: 100%;
	height: 500px;
}

.videoFond p {
	position: absolute;
	z-index: 2;
	width: 500px;
	margin: auto;
	background: rgba(255, 255, 255, 0.60);
	left: 250px;
	top: 150px;
	padding: 20px;
	font-size: 120%;
	border-radius: 15px;
	text-align: center;
}

/* pour les vidéos youtube embarquées */
iframe[src="https://www.youtube.com/embed/mgfGrak7-Xs"] {
	width: 100%;
	min-height: 800px;
}

iframe[allowfullscreen] {
	width: 100%;
}

.audio {
	text-align: center;
}


/* Flexbox */

.carre {
	width  : 150px;
	height : 150px;
	background : rgb(167, 24, 79);
	color: #fff;
	margin: 5px;
	line-height: 150px;
	text-align: center;
	font-size: 2em;
  }

	/* la classe pour créer une rangée */
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		/* margin-bottom: 15px; */
		/* justify-content: space-around; */
	}

	.row-reverse {
		display:flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		/* text-align: center; */
	}

	/* Flexbox */

	.flex {
		display: flex;
		/* les div également réparties horizontalement */
		/* justify-content: space-between; */

		/* avec un espace égal autour de chaque div */
		/* justify-content: space-around; */

		/* de haut en bas en mode colonne */
		/* flex-direction: column; */

		/* inverser les div en mode colonne */
		/* flex-direction: column-reverse; */

		/* inverser les dib horizontalement */
		flex-direction: row-reverse;
	}
	
  /* Définition de la largeur des colonnes en pourcentage */
/* grille 12 colonnes */
.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
    /* background-color: rgb(255, 145, 0); */
}

.col-3 {
    width: 25%;
    /* background-color: rgb(241, 172, 44); */
}

.col-4 {
    width: 33.333333%;
    /* background-color: rgb(247, 215, 34); */
}

.col-5 {
    width: 41.666666%;
    /* background-color: rgb(196, 216, 20); */
}

.col-6 {
    width: 50%;
    /* background-color: rgb(105, 238, 71); */
}

.col-7 {
    width: 58.333333%;
    /* background-color: rgb(35, 189, 29); */
}

.col-8 {
    width: 66.666666%;
    /* background-color: rgb(44, 224, 185); */
}

.col-9 {
    width: 75%;
    /* background-color: rgb(32, 212, 224); */
}

.col-10 {
    width: 83.333333%;
    /* background-color: rgb(69, 130, 221); */
}

.col-11 {
    width: 91.666666%;
    /* background-color: rgb(206, 83, 236); */
}

.col-12 {
    width: 100%;
    /* background-color: rgb(218, 50, 176); */
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
    /* background-color: wheat; */
}
.marge-2 {
    margin-left: 16.666666%;
    /* background-color: yellowgreen; */
}
.marge-3 {
    margin-left: 25%;
    /* background-color: violet; */
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}



/* les formulaires */

/* #formulaire form {
	background-color: #069;
	color: #6acafc;
	border-radius: 2em;
	width: 800px;
	padding: 30px;
	margin: 0 auto;
} */

form {
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	background-color: #2D5C7F;
	color: #d0e3fa;
	border-radius: 20px;
}
	
label {
	margin: 20px 10px;
}

form p {
	margin: 10px;
}

textarea {
	/* pour eviter le redimensionnement de la zone de saisie du textarea */
	resize: none;
}

label[for="orange"], [for="fraise"], [for="kiwi"], [for="cerise"] {
	background-color: red;
	color: #fff;
}

/* style tableau */

.tableau table {
	border: 2px solid #000;
	border-collapse: collapse;
	margin: auto;
	width: 80%;
	padding: 5px;
}

.tableau td {
	border: 2px solid #000;
	padding: 10px;
	/* text-align: left; */
	vertical-align: middle;
}

.tableau thead, .tableau tfoot {
	background: #d0e3fa;
	border: 5px solid #6495ed;
	text-align: center;

}